Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

Use functools.partial for transaction.on_commit callback
  the_flip/apps/maintenance/views.py
Due: mypy

Use functools.partial for remaining transaction.on_commit callbacks
  the_flip/apps/discord/signals.py
  the_flip/apps/parts/views.py
Due: mypy

Add early-exit check for agent-docs hook
  scripts/check_agent_docs_edit.sh
Due: none

Use ValidationError.messages for multi-message support
  the_flip/apps/maintenance/views.py
Due: mypy

Adopt InfiniteScrollMixin in simple partial views
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/views.py
Due: mypy

Docs: Add View vs TemplateView guidance to Views.md
  docs/Views.md
Due: none

Fix file uploads replacing previous files instead of accumulating
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_new.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
  the_flip/static/core/file_accumulator.js
  the_flip/static/core/styles.css
Due: djlint

Format CSS transition property per linter
  the_flip/static/core/styles.css
Due: none

Simplify removable pill CSS to match regular pill height
  the_flip/static/core/file_accumulator.js
  the_flip/static/core/styles.css
Due: none

Fix multiple file selection replacing previous files (#161) (#175)
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_new.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
  the_flip/static/core/file_accumulator.js
  the_flip/static/core/styles.css
Due: djlint

Refactor search methods to be pure filters with composable building blocks
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests/test_model_managers.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
Due: mypy

Update ruff hook from legacy alias to ruff-check
  .pre-commit-config.yaml
Due: none

Adopt TestDataMixin and SharedAccountTestMixin in parts tests
  the_flip/apps/core/test_utils.py
  the_flip/apps/parts/tests.py
Due: mypy

Split parts tests into feature-based test files
  the_flip/apps/parts/tests.py
  the_flip/apps/parts/tests/__init__.py
  the_flip/apps/parts/tests/test_feature_flags.py
  the_flip/apps/parts/tests/test_part_request_create.py
  the_flip/apps/parts/tests/test_part_request_detail.py
  the_flip/apps/parts/tests/test_part_request_list.py
  the_flip/apps/parts/tests/test_part_request_models.py
  the_flip/apps/parts/tests/test_part_request_updates.py
Due: mypy

Address CodeRabbit nitpicks: import placement, markdown lint
  docs/Testing.md
  the_flip/apps/parts/tests/test_feature_flags.py
Due: mypy

Add self.maintainer to TestDataMixin
  docs/Testing.md
  the_flip/apps/core/test_utils.py
  the_flip/apps/parts/tests/test_feature_flags.py
  the_flip/apps/parts/tests/test_part_request_create.py
  the_flip/apps/parts/tests/test_part_request_detail.py
  the_flip/apps/parts/tests/test_part_request_list.py
  the_flip/apps/parts/tests/test_part_request_models.py
  the_flip/apps/parts/tests/test_part_request_updates.py
Due: mypy

Rename test file and class to follow naming convention
  the_flip/apps/parts/tests/test_part_request_update_create.py
Due: mypy

Add PartRequest media tests
  the_flip/apps/parts/tests/test_part_request_media.py
Due: mypy

Add PartRequest status update tests
  the_flip/apps/parts/tests/test_part_request_status.py
Due: mypy

Add PartRequestUpdate detail view tests
  the_flip/apps/parts/tests/test_part_request_update_detail.py
Due: mypy

Add PartRequestUpdate media tests
  the_flip/apps/parts/tests/test_part_request_update_media.py
Due: mypy

Document media tag in Testing.md
  docs/Testing.md
Due: none

Remove brittle HTML element counting in pagination tests
  the_flip/apps/parts/tests/test_part_request_update_list.py
Due: mypy

Remove unused terminals tag from Testing.md
  docs/Testing.md
Due: none

Add auth/error edge case tests to problem report media
  the_flip/apps/maintenance/tests/test_problem_report_media.py
Due: mypy

Fix name_override uniqueness with friendly validation
  the_flip/apps/catalog/migrations/0006_normalize_name_override.py
  the_flip/apps/catalog/migrations/0007_add_unique_constraint_to_name_override.py
  the_flip/apps/catalog/models.py
  the_flip/apps/catalog/tests.py
Due: mypy

Fix migration order: add null=True before data normalization
  the_flip/apps/catalog/migrations/0006_allow_null_name_override.py
  the_flip/apps/catalog/migrations/0007_add_unique_constraint_to_name_override.py
  the_flip/apps/catalog/migrations/0007_normalize_name_override.py
  the_flip/apps/catalog/migrations/0008_add_unique_constraint_to_name_override.py
Due: none

Fix sample data script to handle location foreign keys
  the_flip/apps/catalog/management/commands/create_sample_machines.py
Due: mypy

Use short_display_name in breadcrumbs for mobile-friendly display
  templates/catalog/machine_edit.html
  templates/catalog/machine_model_edit.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/machine_qr.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_form_base.html
  the_flip/static/core/styles.css
Due: djlint

Use short_display_name in flash messages
  templates/maintenance/problem_report_new.html
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
Due: mypy, djlint

Use short_display_name in Discord notifications
  the_flip/apps/discord/formatters.py
Due: mypy

Document StyledFormMixin and Form vs ModelForm in Forms.md
  docs/Forms.md
Due: none

Make era field optional on MachineModel
  the_flip/apps/catalog/migrations/0011_make_era_optional.py
  the_flip/apps/catalog/models.py
Due: mypy

Add form input width utility classes
  the_flip/static/core/styles.css
Due: none

Add path filters to CodeRabbit configuration
  .coderabbit.yaml
Due: none

Add more paths to CI and Railway ignore lists
  .github/workflows/ci.yml
  .secrets.baseline
  railway.toml
Due: none

Standardize test tags to 6 core tags
  docs/Testing.md
  the_flip/apps/accounts/tests/test_navigation.py
  the_flip/apps/accounts/tests/test_profile.py
  the_flip/apps/accounts/tests/test_registration.py
  the_flip/apps/accounts/tests/test_terminals.py
  the_flip/apps/catalog/tests.py
  the_flip/apps/core/tests.py
  the_flip/apps/discord/tests/test_delivery.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/tests/test_models.py
  the_flip/apps/discord/tests/test_signals.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_environment.py
  the_flip/apps/maintenance/tests/test_forms.py
  the_flip/apps/maintenance/tests/test_log_entry_detail.py
  the_flip/apps/maintenance/tests/test_log_entry_media.py
  the_flip/apps/maintenance/tests/test_problem_report_create.py
  the_flip/apps/maintenance/tests/test_problem_report_detail.py
  the_flip/apps/maintenance/tests/test_problem_report_list.py
  the_flip/apps/maintenance/tests/test_problem_report_media.py
  the_flip/apps/maintenance/tests/test_qr_codes.py
  the_flip/apps/maintenance/tests/test_tasks.py
  the_flip/apps/parts/tests/test_feature_flags.py
  the_flip/apps/parts/tests/test_part_request_detail.py
  the_flip/apps/parts/tests/test_part_request_media.py
  the_flip/apps/parts/tests/test_part_request_status.py
  the_flip/apps/parts/tests/test_part_request_update_list.py
  the_flip/apps/parts/tests/test_part_request_update_media.py
Due: mypy

Restructure README for clearer setup flow
  README.md
Due: none

Machine editing changes
  templates/catalog/machine_edit.html
  templates/catalog/machine_model_edit.html
  the_flip/apps/catalog/forms.py
  the_flip/apps/catalog/models.py
Due: mypy, djlint
