Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

Play nicer with password managers
  templates/registration/self_register.html
Due: djlint

Better username autocomplete
  templates/registration/self_register.html
Due: djlint

Added cancel button
  templates/registration/self_register.html
Due: djlint

Improve maintainer name field UX for shared vs individual accounts
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Use usernames for maintainer field to support comma-separated values
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/tests.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Improve autocomplete display and matching
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Show different home page for shared accounts
  templates/home.html
  the_flip/apps/core/views.py
Due: mypy, djlint

Make email optional on profile form
  the_flip/apps/accounts/forms.py
Due: mypy

Skip email uniqueness check when email is blank
  the_flip/apps/accounts/forms.py
Due: mypy

Create Site_Settings.md
  docs/plans/Site_Settings.md
Due: none

Use character literal instead of entity escape
  templates/accounts/terminal_form.html
Due: djlint

Making the logo in the QR code look better
  the_flip/apps/maintenance/views.py
Due: mypy

Add standard line-clamp property alongside vendor prefix
  the_flip/static/core/styles.css
Due: none

Fixed infinite scrolling
  the_flip/static/core/log_infinite.js
Due: none

Fix responsive flex-wrap on correct element
  the_flip/static/core/styles.css
Due: none

Add infinite scroll to machine detail Activity section
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/partials/activity_entry.html
  the_flip/apps/catalog/views.py
  the_flip/static/core/log_infinite.js
  the_flip/urls.py
Due: mypy, djlint

Rename log_infinite.js to infinite_scroll.js
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/log_list.html
  templates/maintenance/machine_log.html
  templates/maintenance/problem_report_list.html
  the_flip/static/core/infinite_scroll.js
Due: djlint

Fix missing </script> closing tags
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/log_list.html
Due: djlint

Omit :00 minutes in time display
  the_flip/static/core/timezone.js
Due: none

Less space around form fields
  templates/catalog/maintainer_machine_detail.html
Due: djlint

Add Machines link to log entry detail breadcrumb
  templates/maintenance/log_entry_detail.html
Due: djlint

Add ability to create log entries from problem reports
  templates/maintenance/machine_log_new.html
  templates/maintenance/partials/log_list_entry.html
  templates/maintenance/partials/problem_report_list_entry.html
  templates/maintenance/partials/problem_report_log_entry.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/accounts/management/commands/create_sample_maintainers.py
  the_flip/apps/catalog/management/commands/create_sample_machines.py
  the_flip/apps/maintenance/management/commands/check_worker.py
  the_flip/apps/maintenance/migrations/0005_logentry_problem_report.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
  the_flip/urls.py
Due: mypy, djlint

Fix SessionStart hook to work without sudo
  .claude/settings.json
Due: none

Refactor test suite: split files, add tags, factories, and mocking
  docs/Testing.md
  the_flip/apps/accounts/tests.py
  the_flip/apps/accounts/tests/__init__.py
  the_flip/apps/accounts/tests/test_admin.py
  the_flip/apps/accounts/tests/test_models.py
  the_flip/apps/accounts/tests/test_navigation.py
  the_flip/apps/accounts/tests/test_profile.py
  the_flip/apps/accounts/tests/test_registration.py
  the_flip/apps/accounts/tests/test_terminals.py
  the_flip/apps/core/test_utils.py
  the_flip/apps/maintenance/tests/__init__.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_environment.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/tests/test_tasks.py
Due: mypy

Refactor test classes to use factories and mixins
  the_flip/apps/accounts/tests/test_admin.py
  the_flip/apps/accounts/tests/test_models.py
  the_flip/apps/accounts/tests/test_navigation.py
  the_flip/apps/accounts/tests/test_profile.py
  the_flip/apps/accounts/tests/test_registration.py
  the_flip/apps/accounts/tests/test_terminals.py
  the_flip/apps/catalog/tests.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy

Clean up test utilities and documentation
  Makefile
  docs/Testing.md
  the_flip/apps/core/test_utils.py
Due: mypy

Fix lint issues in test files
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/tests/test_tasks.py
Due: mypy

Fix mypy type errors in test_utils.py
  the_flip/apps/core/test_utils.py
Due: mypy

Mock ffmpeg in maintenance tests and tidy docs
  docs/Testing.md
  the_flip/apps/core/test_utils.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_environment.py
  the_flip/apps/maintenance/tests/test_forms.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_tasks.py
Due: mypy

Cleanup Django templates: remove inline styles, consolidate CSS
  docs/HTML_CSS.md
  templates/catalog/machine_quick_create.html
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/partials/activity_entry.html
  templates/maintenance/problem_report_detail.html
  templates/registration/login.html
  templates/registration/self_register.html
  the_flip/static/core/styles.css
Due: djlint

Updated the login failed message
  templates/registration/login.html
Due: djlint

Tell AI's to always run `make quality`
  CONTRIBUTING.md
Due: none

Less padding on inline forms
  the_flip/static/core/styles.css
Due: none

Tightened up printing view
  templates/maintenance/machine_qr.html
Due: djlint

Removed unused CSS
  the_flip/static/core/styles.css
Due: none

Update to page title
  templates/maintenance/log_entry_detail.html
Due: djlint

Log search includes attached problem report
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/views.py
Due: mypy

Machine's log search also searches attached problem reports
  the_flip/apps/maintenance/views.py
Due: mypy

Removed dead div
  templates/maintenance/problem_report_detail.html
Due: djlint
