Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

feat(accounts): remove self-registration feature
  templates/home.html
  templates/registration/self_register.html
  the_flip/apps/accounts/forms.py
  the_flip/apps/accounts/tests/test_registration.py
  the_flip/apps/accounts/views.py
  the_flip/static/core/styles.css
  the_flip/urls.py
Due: mypy, djlint

chore: add Prettier markdown formatting
  .claude/agents/antipattern-scanner.md
  .claude/agents/clean-code-reviewer.md
  .claude/agents/code-smell-detector.md
  .claude/agents/documentation-reviewer.md
  .claude/commands/pre-pr-check.md
  .github/copilot-instructions.md
  .markdownlint.json
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/AGENTS.src.md
  docs/Architecture.md
  docs/Datamodel.md
  docs/Deployment.md
  docs/Discord.md
  docs/Django_Python.md
  docs/Forms.md
  docs/HTML_CSS.md
  docs/Javascript.md
  docs/Models.md
  docs/Operations.md
  docs/Project_Structure.md
  docs/README.md
  docs/Testing.md
  docs/Views.md
  docs/plans/AccessControl.md
  docs/plans/Agents.md
  docs/plans/AuditLog.md
  docs/plans/DiscordBot.md
  docs/plans/DiscordPosts.md
  docs/plans/Files.md
  docs/plans/MachineShortname.md
  docs/plans/Maintenance_Workflows.md
  docs/plans/Site_Settings.md
  docs/plans/Video_Reactivity.md
  docs/plans/Video_Uploads.md
  docs/plans/WebHooks.md
  docs/plans/hosting.md
Due: none

chore: bump dependencies
  requirements.txt
Due: none

feat(markdown): add interactive task list checkboxes
  docs/HTML_CSS.md
  docs/Javascript.md
  docs/plans/MarkdownChecklists.md
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_request_detail.html
  templates/parts/part_update_detail.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/core/tests/test_markdown.py
  the_flip/static/core/checkbox_toggle.js
  the_flip/static/core/styles.css
Due: mypy, djlint

Mark the implemented plans as implemented
  docs/plans/AccessControl.md
  docs/plans/Agents.md
  docs/plans/AuditLog.md
  docs/plans/DiscordBot.md
  docs/plans/Files.md
  docs/plans/MachineShortname.md
  docs/plans/MarkdownChecklists.md
  docs/plans/Site_Settings.md
  docs/plans/Video_Reactivity.md
  docs/plans/hosting.md
Due: none

refactor(wiki): extract shared patterns and named constants
  the_flip/apps/core/views/link_targets.py
  the_flip/apps/wiki/actions.py
  the_flip/apps/wiki/forms.py
  the_flip/apps/wiki/models.py
  the_flip/apps/wiki/tests/test_wiki_editing.py
  the_flip/apps/wiki/tests/test_wiki_models.py
  the_flip/apps/wiki/views.py
Due: mypy

docs: add wiki app to architecture and document FormPrefillMixin
  docs/Architecture.md
  docs/Project_Structure.md
  docs/Views.md
Due: none

refactor(wiki): deduplicate get_success_url and fix prefetch bypass
  the_flip/apps/wiki/views.py
  the_flip/static/core/link_autocomplete.js
Due: mypy

fix: add machine name to link autocomplete search fields
  the_flip/apps/catalog/apps.py
  the_flip/apps/maintenance/apps.py
  the_flip/apps/parts/apps.py
Due: mypy

refactor: remove Constance feature flags for fully-live features
  docs/Discord.md
  templates/base.html
  templates/catalog/machine_feed.html
  templates/core/global_activity_feed.html
  the_flip/apps/catalog/feed.py
  the_flip/apps/catalog/tests/test_machine_feed.py
  the_flip/apps/core/feed.py
  the_flip/apps/core/tests/test_global_activity_feed.py
  the_flip/apps/core/views/feed.py
  the_flip/apps/core/views/home.py
  the_flip/apps/discord/llm.py
  the_flip/apps/discord/management/commands/eval_llm_prompt.py
  the_flip/apps/discord/tasks.py
  the_flip/apps/discord/tests/test_delivery.py
  the_flip/apps/parts/tests/test_feature_flags.py
  the_flip/settings/base.py
Due: mypy, djlint

feat: add wiki nav reorder page with drag-and-drop ordering
  templates/components/history_link.html
  templates/wiki/base.html
  templates/wiki/home.html
  templates/wiki/page_detail.html
  templates/wiki/partials/reorder_folder.html
  templates/wiki/reorder.html
  templates/wiki/search.html
  the_flip/apps/wiki/tests/test_wiki_reorder.py
  the_flip/apps/wiki/tests/test_wiki_search.py
  the_flip/apps/wiki/views.py
  the_flip/static/core/styles.css
  the_flip/static/core/wiki_reorder.js
  the_flip/urls.py
Due: mypy, djlint

refactor(wiki): move post_save signals to signals.py
  the_flip/apps/wiki/models.py
  the_flip/apps/wiki/signals.py
Due: mypy

refactor(wiki): move build_nav_tree() to selectors.py
  the_flip/apps/wiki/selectors.py
  the_flip/apps/wiki/views.py
Due: mypy

fix(wiki): guard reorder endpoint against non-dict JSON payloads
  the_flip/apps/wiki/views.py
Due: mypy

feat(wiki): add type="page" to action buttons for creating wiki pages from templates
  docs/plans/WikiActionButtons.md
  the_flip/apps/core/mixins.py
  the_flip/apps/wiki/actions.py
  the_flip/apps/wiki/forms.py
  the_flip/apps/wiki/tests/test_wiki_actions.py
  the_flip/apps/wiki/views.py
Due: mypy

feat(wiki): add interactive checkbox toggle and align field naming
  docs/plans/Wiki.md
  templates/wiki/home.html
  templates/wiki/page_detail.html
  templates/wiki/search.html
  the_flip/apps/core/markdown_links.py
  the_flip/apps/wiki/admin.py
  the_flip/apps/wiki/migrations/0002_align_timestamp_field_names.py
  the_flip/apps/wiki/models.py
  the_flip/apps/wiki/tests/test_wiki_actions.py
  the_flip/apps/wiki/tests/test_wiki_editing.py
  the_flip/apps/wiki/tests/test_wiki_page_detail.py
  the_flip/apps/wiki/views.py
Due: mypy, djlint

fix(markdown): Enter-key task list continuation on create forms
  .secrets.baseline
  docs/Forms.md
  docs/Javascript.md
  templates/core/partials/text_card_editable.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_new.html
  templates/parts/part_request_detail.html
  templates/parts/part_request_new.html
  templates/parts/part_update_detail.html
  templates/parts/part_update_new.html
  templates/wiki/page_detail.html
  templates/wiki/page_form.html
  the_flip/apps/core/forms.py
  the_flip/apps/core/tests/test_forms.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/parts/forms.py
  the_flip/apps/wiki/forms.py
  the_flip/static/core/checkbox_toggle.js
  the_flip/static/core/task_list_enter.js
Due: mypy, djlint

feat(css): improve list readability in markdown content
  the_flip/static/core/styles.css
Due: none

refactor: move global list queryset logic to ProblemReportQuerySet
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/views/problem_reports.py
Due: mypy

refactor(js): extract UI update helpers from AJAX field handlers
  the_flip/static/core/core.js
Due: none

refactor: extract base template hierarchy
  docs/HTML_CSS.md
  templates/base.html
  templates/base_minimal.html
  templates/base_minimal_auth.html
  templates/base_public_minimal.html
Due: djlint

feat(wiki): add Docs link to desktop site navigation
  templates/base.html
Due: djlint

feat(wiki): add priority attribute to action buttons
  docs/WikiActionButtons.md
  the_flip/apps/core/mixins.py
  the_flip/apps/wiki/actions.py
  the_flip/apps/wiki/tests/test_wiki_actions.py
  the_flip/apps/wiki/views.py
Due: mypy

fix(a11y): add aria-label to child_list_search input
  templates/components/child_list_search.html
Due: djlint

refactor: unify settable pills
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/Javascript.md
  templates/catalog/machine_edit.html
  templates/catalog/machine_feed.html
  templates/components/settable_machine_location_pill.html
  templates/components/settable_machine_status_pill.html
  templates/components/settable_pill.html
  templates/components/settable_problem_priority_pill.html
  templates/components/settable_problem_status_pill.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_request_detail.html
  the_flip/apps/catalog/tests/test_machine_update.py
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/core/tests/test_icon.py
  the_flip/apps/maintenance/tests/test_problem_report_detail.py
  the_flip/static/core/core.js
  the_flip/static/core/core.test.js
  the_flip/static/core/machine_pill_effects.js
  the_flip/static/core/settable_pill.js
  the_flip/static/core/styles.css
Due: mypy, djlint

chore: upgrade gunicorn, Pillow, pillow-heif, anthropic
  requirements.txt
Due: none

fix: use real WikiPage model in data migration
  the_flip/apps/wiki/migrations/0004_populate_template_option_index.py
Due: none

refactor: adopt dispatch table pattern for AJAX status handlers
  the_flip/apps/catalog/tests/test_machine_update.py
  the_flip/apps/catalog/views_inline.py
  the_flip/apps/parts/tests/test_part_request_status.py
  the_flip/apps/parts/views.py
Due: mypy

refactor: replace hardcoded media model registry with dynamic registration
  the_flip/apps/core/models.py
  the_flip/apps/core/tests/test_media_model_registry.py
  the_flip/apps/maintenance/apps.py
  the_flip/apps/parts/apps.py
Due: mypy

Replace entry_type monkey-patching with ENTRY_TYPE class constants
  templates/core/partials/global_activity_entry.html
  templates/maintenance/partials/activity_entry.html
  the_flip/apps/catalog/feed.py
  the_flip/apps/catalog/views_inline.py
  the_flip/apps/core/feed.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/models.py
Due: mypy, djlint

refactor: remove duplicate getCsrfToken() from three JS modules
  the_flip/static/core/checkbox_toggle.js
  the_flip/static/core/media_grid.js
  the_flip/static/core/text_edit.js
Due: none

fix: actually verify exception messages in registry tests
  the_flip/apps/core/tests/test_media_model_registry.py
Due: mypy

chore: bump Pillow 12.1.0 → 12.1.1 (security fix)
  requirements.txt
Due: none

refactor: convert feed source registry from hardcoded to dynamic registration
  the_flip/apps/catalog/views.py
  the_flip/apps/core/feed.py
  the_flip/apps/core/tests/test_feed_source_registry.py
  the_flip/apps/maintenance/apps.py
  the_flip/apps/parts/apps.py
Due: mypy

fix: upgrade Pillow 12.1.0 → 12.1.1 for security fix
  requirements.txt
Due: none

fix: address CodeRabbit review feedback on discord module
  the_flip/apps/discord/apps.py
  the_flip/apps/discord/bot_handlers/__init__.py
  the_flip/apps/discord/bot_handlers/log_entry.py
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tasks.py
  the_flip/apps/discord/webhook_handlers/__init__.py
  the_flip/apps/discord/webhook_handlers/log_entry.py
  the_flip/apps/discord/webhook_handlers/problem_report.py
Due: mypy

refactor: convert AJAX POST handlers to dispatch table pattern
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/parts/views/part_request_updates.py
  the_flip/apps/parts/views/part_requests.py
Due: mypy

refactor: extract InlineTextEditMixin from duplicated POST handlers
  the_flip/apps/core/mixins.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/views/part_request_updates.py
  the_flip/apps/parts/views/part_requests.py
Due: mypy

fix: use weak=False for reference cleanup signal handler
  the_flip/apps/core/models.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
