Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

Add hyperlink to The Flip museum in README
  README.md
Due: none

Allow SITE_URL override via environment variable
  the_flip/settings/prod_base.py
Due: mypy

Updating docs
  docs/Architecture.md
  docs/Project_Structure.md
  the_flip/apps/discord/bot.py
  the_flip/settings/base.py
Due: mypy

Improve Discord message parsing reliability
  the_flip/apps/discord/bot.py
Due: mypy

Consolidate webhook settings to Constance and add image attachment handling
  requirements.txt
  the_flip/apps/discord/admin.py
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/migrations/0002_remove_webhooksettings.py
  the_flip/apps/discord/models.py
  the_flip/apps/discord/tasks.py
  the_flip/apps/discord/tests.py
  the_flip/settings/base.py
Due: mypy

Add shadow mode for Discord bot
  the_flip/apps/discord/bot.py
  the_flip/settings/base.py
Due: mypy

Create DiscordBot.md
  docs/plans/DiscordBot.md
Due: none

Update DiscordBot.md
  docs/plans/DiscordBot.md
Due: none

Prototyping right-click + LLM support
  requirements.txt
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/llm.py
  the_flip/settings/base.py
Due: mypy

Added VS Code task to start Discord bot
  .vscode/tasks.json
Due: none

Kill any old servers before starting new one
  Makefile
Due: none

AI handling improvements
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/llm.py
Due: mypy

Tuning the LLM
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/llm.py
Due: mypy

Plan to move from web hooks to Discord HTTP API
  docs/plans/DiscordPosts.md
Due: none

Constance polish
  the_flip/settings/base.py
Due: mypy

Update docs to reflect removed webhook models
  docs/Datamodel.md
  docs/plans/AuditLog.md
  docs/plans/DiscordBot.md
  docs/plans/DiscordPosts.md
Due: none

Remove old keyword classifier code
  the_flip/apps/discord/management/commands/evaluate_classifier.py
  the_flip/apps/discord/parsers/__init__.py
  the_flip/apps/discord/parsers/core.py
  the_flip/apps/discord/parsers/intent.py
  the_flip/apps/discord/parsers/machines.py
  the_flip/apps/discord/parsers/types.py
  the_flip/apps/discord/tests/test_classifier_eval.py
  the_flip/apps/discord/tests/test_parsers.py
Due: mypy

Moved files not used for tests
  docs/legacy_data/discord_workshop_messages.csv
  docs/legacy_data/machines.csv
Due: none

Removed unused code
  the_flip/apps/discord/parsers/references.py
Due: mypy

Remove unused DISCORD_BOT_SHADOW_MODE setting
  the_flip/settings/base.py
Due: mypy

Default DISCORD_WEBHOOKS_ENABLED to False
  the_flip/settings/base.py
Due: mypy

Clarify Discord webhook setting descriptions
  the_flip/settings/base.py
Due: mypy

Move parts webhook signals from parts app to discord app
  the_flip/apps/discord/signals.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/tests/test_signals.py
  the_flip/apps/parts/apps.py
  the_flip/apps/parts/signals.py
  the_flip/apps/parts/tests.py
Due: mypy

Update AccessControl.md
  docs/plans/AccessControl.md
Due: none

Update tests.py
  the_flip/apps/parts/tests.py
Due: mypy

Creating maintainers instead of staff
  the_flip/apps/accounts/tests/test_models.py
  the_flip/apps/accounts/tests/test_registration.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/tests/test_models.py
  the_flip/apps/discord/tests/test_signals.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy

Add ability to move reports between machines
  templates/components/machine_sidebar_card.html
  templates/components/problem_sidebar_card.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
  the_flip/urls.py
Due: mypy, djlint

Add shared keyboard navigation for dropdown menus
  templates/maintenance/log_entry_detail.html
  templates/maintenance/log_form_base.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_form_base.html
  templates/parts/part_form.html
  the_flip/static/core/dropdown_keyboard.js
  the_flip/static/core/machine_autocomplete.js
  the_flip/static/core/sidebar_card_edit.js
  the_flip/static/core/styles.css
Due: djlint

Add TemporaryMediaMixin and isolate media-writing tests
  .secrets.baseline
  the_flip/apps/core/test_utils.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/tests/test_tasks.py
Due: mypy

Add missing edge case and permission tests
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy

Move transaction import to top of views.py
  the_flip/apps/maintenance/views.py
Due: mypy

Isolate transcoding upload token settings in tests
  the_flip/apps/maintenance/tests/test_api.py
Due: mypy

Inject transcode task dependencies to simplify tests
  the_flip/apps/core/tasks.py
  the_flip/apps/maintenance/tests/test_tasks.py
Due: mypy

Extract searchable dropdown factory for sidebar edits
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/searchable_dropdown.js
  the_flip/static/core/sidebar_card_edit.js
Due: mypy, djlint

Use UUID suffixes in test factories
  .secrets.baseline
  the_flip/apps/core/test_utils.py
Due: mypy

Fix dropdown z-index to appear above sidebar content
  the_flip/static/core/styles.css
Due: none

Add header and overlay positioning to edit dropdown
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/static/core/styles.css
Due: mypy

Fix close button and increase dropdown height
  the_flip/static/core/searchable_dropdown.js
  the_flip/static/core/styles.css
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
