Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

Address code review feedback
  .secrets.baseline
  the_flip/apps/core/forms.py
  the_flip/apps/core/qr.py
Due: mypy

Clarifying example
  .env.example
Due: none

Add csrf_exempt to transcoding upload endpoint
  the_flip/apps/maintenance/views.py
Due: mypy

Add Views.md, Models.md and consolidate documentation
  CLAUDE.md
  docs/Django_Python.md
  docs/HTML_CSS.md
  docs/Models.md
  docs/Views.md
Due: none

Add CBV vs FBV guidance and video documentation
  docs/Video_Reactivity.md
  docs/Video_Uploads.md
  docs/Views.md
Due: none

Move video docs to plans folder
  docs/plans/Video_Reactivity.md
  docs/plans/Video_Uploads.md
Due: none

Document JavaScript patterns in HTML_CSS.md
  docs/HTML_CSS.md
Due: none

Remove duplicate mobile Add Update button from part request detail
  templates/parts/part_request_detail.html
Due: djlint

Strengthened the don't use global callbacks message
  docs/HTML_CSS.md
Due: none

Replace global callback with CustomEvent for maintainer autocomplete
  templates/maintenance/log_entry_detail.html
  the_flip/static/core/log_entry_detail.js
  the_flip/static/core/maintainer_autocomplete.js
Due: djlint

Add missing status-indicator CSS styles
  the_flip/static/core/styles.css
Due: none

Remove ineffective aptPackages from railpack configs
  railpack.web.json
  railpack.worker.json
Due: none

Damn AI keeps ignoring me
  CLAUDE.md
  docs/Testing.md
Due: none

Change labels
  docs/plans/Video_Reactivity.md
  templates/core/partials/media_card_editable.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_new.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/static/core/media_grid.js
Due: mypy, djlint

Center text in media grid status messages
  the_flip/static/core/styles.css
Due: none

Add login_required to TranscodeStatusView
  the_flip/apps/core/views.py
Due: mypy

Add Cache-Control header to empty transcode status response
  the_flip/apps/core/views.py
Due: mypy

Add saveInProgress guard to prevent duplicate maintainer saves
  the_flip/static/core/log_entry_detail.js
Due: none

URL-encode query parameters in transcode status polling
  the_flip/static/core/video_transcode_poll.js
Due: none

Upgrade Prettier from v3.4.2 to v3.7.4
  .pre-commit-config.yaml
  the_flip/static/core/styles.css
Due: none

Add rule: always verify latest stable version before adding dependencies
  CLAUDE.md
Due: none

Add test for video file deletion
  the_flip/apps/maintenance/tests/test_api.py
Due: mypy

Remove info that is duplicated from Views.md
  docs/Models.md
Due: none

Updated list of docs
  docs/README.md
Due: none

Revert "Clean up attribution"
  .claude/agents/antipattern-scanner.md
  .claude/agents/clean-code-reviewer.md
  .claude/agents/code-smell-detector.md
Due: none

Add language identifier to fenced code blocks
  .claude/agents/documentation-reviewer.md
Due: none

Refactor model choices to Django TextChoices pattern
  docs/Models.md
  templates/catalog/machine_edit.html
  templates/catalog/machine_feed_base.html
  templates/catalog/partials/machine_list_card.html
  templates/components/machine_sidebar_card.html
  templates/core/partials/media_card_editable.html
  templates/core/partials/media_grid_readonly.html
  templates/maintenance/partials/problem_report_entry.html
  templates/maintenance/partials/problem_report_list_entry.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_request_detail.html
  the_flip/apps/catalog/models.py
  the_flip/apps/catalog/signals.py
  the_flip/apps/catalog/tests.py
  the_flip/apps/catalog/views.py
  the_flip/apps/catalog/views_inline.py
  the_flip/apps/core/mixins.py
  the_flip/apps/core/models.py
  the_flip/apps/core/tasks.py
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/core/test_utils.py
  the_flip/apps/core/views.py
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/records.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/tests/test_signals.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/management/commands/check_worker.py
  the_flip/apps/maintenance/management/commands/create_sample_maintenance_records.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests/test_api.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/tests/test_tasks.py
  the_flip/apps/maintenance/views.py
  the_flip/apps/parts/forms.py
  the_flip/apps/parts/models.py
  the_flip/apps/parts/tests.py
  the_flip/apps/parts/views.py
Due: mypy, djlint

Enhance CLAUDE.md with development persona and behavioral guidance
  CLAUDE.md
Due: none

Fixed indentation
  CLAUDE.md
Due: none

Add CodeRabbit config and update documentation guidance
  .coderabbit.yaml
  CLAUDE.md
  docs/Django_Python.md
Due: none

Document docstring format convention
  docs/Django_Python.md
Due: none

Bump dj-database-url 2.3.0 → 3.0.1
  requirements.txt
Due: none

Add SECRET_KEY to CI environment
  .github/workflows/ci.yml
  .secrets.baseline
Due: none

Add Cache-Control header for media files
  the_flip/views.py
Due: mypy

Restore lost documentation and web.py changes
  docs/Architecture.md
  docs/plans/Files.md
  the_flip/settings/web.py
Due: mypy

Harden security settings
  .github/workflows/ci.yml
  .secrets.baseline
  the_flip/settings/base.py
  the_flip/settings/test.py
Due: mypy

Improved wording of CDN reasoning
  docs/plans/Files.md
Due: none

Add AGENTS.md auto-generation
  .claude/settings.json
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  docs/AGENTS.src.md
  docs/plans/Agents.md
  docs/plans/README.md
  scripts/build_agent_docs.py
Due: mypy

Extract machine status CSS/icon logic into template filters
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  templates/catalog/machine_edit.html
  templates/catalog/machine_feed_base.html
  templates/catalog/partials/machine_list_card.html
  templates/components/machine_sidebar_card.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/core/tests.py
Due: mypy, djlint

Generate test passwords dynamically to avoid secret scanner
  .secrets.baseline
  the_flip/apps/core/test_utils.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
