Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

Fix Railway build by replacing make command with direct Django test command
  build.sh
Due: none

Create static_collected directory before running tests
  build.sh
Due: none

Revert settings __init__.py to empty file
  the_flip/settings/__init__.py
Due: mypy

Add debug output to identify build failure point
  build.sh
Due: none

Fix Railway database configuration and add error messages
  build.sh
  the_flip/settings/prod.py
Due: mypy

Move migrations from build to runtime startup
  build.sh
  railway.toml
Due: none

Refactor: consolidate badge CSS classes
  templates/catalog/machine_list.html
  templates/catalog/machine_list_public.html
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/machine_problem_report_list.html
  templates/maintenance/partials/timeline_entry.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_list.html
  the_flip/static/core/styles.css
Due: djlint

Remove fallback mode, require HTTP transfer configuration
  .env.example
  the_flip/apps/maintenance/tasks.py
Due: mypy

Refactor: standardize to BEM-ish naming (single-hyphen modifiers)
  templates/catalog/machine_edit.html
  templates/catalog/machine_list.html
  templates/catalog/machine_list_public.html
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/machine_log.html
  templates/maintenance/machine_problem_report_list.html
  templates/maintenance/machine_qr.html
  templates/maintenance/partials/timeline_entry.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_list.html
  the_flip/static/core/styles.css
Due: djlint

Docs: document BEM-ish naming convention in HTML_CSS guide
  docs/HTML_CSS.md
Due: none

Install all system dependencies from nixpacks.toml
  .github/workflows/ci.yml
Due: none

Document GitHub Actions CI in contributor guides
  CONTRIBUTING.md
  docs/Testing.md
Due: none

Update Testing.md to use make test command
  docs/Testing.md
Due: none

Simplified
  docs/Testing.md
Due: none

Use SQLite for Railway PR environments to avoid database conflicts
  the_flip/settings/prod.py
Due: mypy

Improve error message to show which env vars are missing
  the_flip/apps/maintenance/tasks.py
Due: mypy

Improve transcoding error messages to list specific missing env vars
  the_flip/apps/maintenance/tasks.py
Due: mypy

Refactor: remove scaffolding docs and reorganize CSS documentation
  docs/Django_Python.md
  docs/HTML_CSS.md
  docs/Testing.md
  docs/scaffolding/Django_Python_Scaffold.md
  docs/scaffolding/HTML_CSS_Scaffold.md
  docs/scaffolding/README.md
  docs/scaffolding/Testing_Scaffold.md
  the_flip/static/core/styles.css
Due: none

Docs: add comprehensive Git workflow best practices guide
  docs/Git_Workflow.md
Due: none

Simplifying docs
  .claude/project_instructions.md
  CONTRIBUTING.md
  docs/AI_Workflow.md
  docs/Architecture.md
  docs/Git_Workflow.md
  docs/Operations.md
  docs/Testing.md
Due: none

Simplified
  docs/Datamodel.md
Due: none

Linked to model classes
  docs/Datamodel.md
Due: none

Skip CI workflow for documentation-only changes
  .github/workflows/ci.yml
Due: none

Add CLAUDE.md with project guidance and MCP tool instructions
  CLAUDE.md
Due: none

Hide the "Video" label
  templates/maintenance/log_entry_detail.html
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/forms.py
Due: mypy, djlint

Safer sample data
  .github/copilot-instructions.md
  .vscode/tasks.json
  Makefile
  README.md
  scripts/reset_migrations.sh
  the_flip/apps/accounts/management/commands/create_sample_maintainers.py
  the_flip/apps/accounts/management/commands/import_maintainers.py
  the_flip/apps/catalog/management/commands/create_sample_machines.py
  the_flip/apps/maintenance/management/commands/create_sample_data.py
  the_flip/apps/maintenance/management/commands/create_sample_maintenance_records.py
  the_flip/apps/maintenance/management/commands/import_legacy_data.py
Due: mypy

Fix timezone handling for work_date field
  templates/maintenance/log_entry_detail.html
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

gitignore linting and type checking caches
  .gitignore
Due: none

Don't run CI on vscode and claude updates
  .github/workflows/ci.yml
Due: none

Simplify home page: replace account list with invitation instructions
  templates/home.html
  the_flip/apps/core/views.py
Due: mypy, djlint

Add CI status badge to README
  README.md
Due: none

Clean up docs and CI for collaboration
  .github/workflows/ci.yml
  README.md
  docs/Django_Python.md
  docs/Testing.md
  the_flip/urls.py
Due: mypy

Render markdown in log entry list views
  templates/maintenance/partials/log_entry.html
  templates/maintenance/partials/log_list_entry.html
  the_flip/static/core/styles.css
Due: djlint

Fix djlint formatting in home.html
  templates/home.html
Due: djlint

Render markdown in timeline entry partial
  templates/maintenance/partials/timeline_entry.html
Due: djlint

Markdown list items in dark mode
  the_flip/static/core/styles.css
Due: none

Further simplification
  docs/Django_Python.md
Due: none

Small UI cleanup
  templates/registration/self_register.html
Due: djlint

Fix CI: add missing djlint to dev requirements
  requirements-dev.txt
Due: none

Small tweak to how login displays
  templates/base.html
Due: djlint

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
