Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

Adding log entry to problem reports on activity list
  templates/maintenance/partials/activity_entry.html
  the_flip/apps/catalog/views.py
Due: mypy, djlint

Global log and problem report creation - draft 1
  templates/maintenance/log_list.html
  templates/maintenance/machine_log_new.html
  templates/maintenance/problem_report_list.html
  templates/maintenance/problem_report_new.html
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/machine_autocomplete.js
  the_flip/urls.py
Due: mypy, djlint

Machine searchable autocomplete fit and finish
  the_flip/apps/maintenance/views.py
  the_flip/static/core/machine_autocomplete.js
  the_flip/static/core/styles.css
Due: mypy

Separated public and maintainer problem report views
  templates/catalog/machine_detail.html
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/machine_problem_report_list.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_form_public.html
  templates/maintenance/problem_report_list.html
  templates/maintenance/problem_report_new.html
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
  the_flip/urls.py
Due: mypy, djlint

UI fit and finish: button naming
  templates/catalog/machine_list.html
Due: djlint

Migrating from machine-card to flip-card
  templates/maintenance/machine_problem_report_list.html
  templates/maintenance/partials/problem_report_list_entry.html
  the_flip/static/core/styles.css
Due: djlint

machine-card -> flip-card
  templates/catalog/maintainer_machine_detail.html
  templates/maintenance/partials/activity_entry.html
Due: djlint

machine-card -> flip-card
  templates/catalog/machine_list.html
Due: djlint

Better display of problem report
  templates/catalog/machine_list.html
Due: djlint

Introducing form styling
  the_flip/static/core/styles.css
Due: none

Applying new form styling
  templates/maintenance/machine_log_new.html
Due: djlint

Applying new form styling
  templates/maintenance/log_entry_detail.html
  the_flip/static/core/styles.css
Due: djlint

Add Claude Code for the web setup configuration
  .claude/settings.json
  CLAUDE.md
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy

Document mypy path issue for Claude Code web
  CLAUDE.md
Due: none

Resize editable area based on content size
  templates/maintenance/log_entry_detail.html
Due: djlint

Upload multiple photos
  templates/maintenance/log_entry_detail.html
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/tests/test_forms.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Upload multiple photos
  templates/maintenance/machine_log_new.html
Due: djlint

Full size vs thumbnail images
  templates/maintenance/log_entry_detail.html
  templates/maintenance/partials/activity_entry.html
  templates/maintenance/partials/log_entry.html
  templates/maintenance/partials/problem_report_log_entry.html
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/utils.py
Due: mypy, djlint

Photo upload fixes
  templates/maintenance/log_entry_detail.html
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/utils.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Add markdown support to problem reports
  templates/maintenance/machine_problem_report_list.html
  templates/maintenance/partials/problem_report_list_entry.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_new.html
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Number inputs were unstyled
  the_flip/static/core/styles.css
Due: none

UI fit and finish - relocated open/closed badge
  templates/maintenance/problem_report_detail.html
Due: djlint

UI polish: respect minimum height
  the_flip/static/core/styles.css
Due: none

Added page title
  templates/catalog/maintainer_machine_detail.html
Due: djlint

Add page title
  templates/catalog/machine_edit.html
Due: djlint

Added page title
  templates/catalog/machine_model_edit.html
Due: djlint

Added more page titles
  templates/maintenance/machine_log.html
  templates/maintenance/machine_problem_report_list.html
Due: djlint

Added page title
  templates/maintenance/machine_qr.html
Due: djlint

Create mock1.html
  docs/mocks/mock1.html
Due: djlint

Update mock1.html
  docs/mocks/mock1.html
Due: djlint
