Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

Removed some events
  the_flip/apps/webhooks/formatters.py
  the_flip/apps/webhooks/models.py
  the_flip/apps/webhooks/signals.py
  the_flip/apps/webhooks/tests.py
Due: mypy

mobile dropdowns
  templates/catalog/machine_feed_base.html
  the_flip/apps/catalog/models.py
  the_flip/static/core/styles.css
Due: mypy, djlint

Turned icon buttons into icon dropdown buttons
  templates/catalog/machine_feed_base.html
  the_flip/static/core/core.js
  the_flip/static/core/styles.css
Due: djlint

commit / PR hygiene
  .github/workflows/ci.yml
  .secrets.baseline
  requirements-dev.txt
Due: none

CI now uses Postgres instead of SQLite
  the_flip/settings/test.py
Due: mypy

Don't run tests on Railway
  build.sh
  docs/Deployment.md
Due: none

Better webhooks administration
  the_flip/apps/webhooks/admin.py
Due: mypy

Better messaging around location moving
  the_flip/apps/catalog/signals.py
  the_flip/apps/catalog/views_inline.py
  the_flip/apps/webhooks/formatters.py
  the_flip/apps/webhooks/tests.py
  the_flip/static/core/core.js
Due: mypy

Updated problem report system message
  the_flip/apps/maintenance/views.py
Due: mypy

Paragraphs get spacing
  the_flip/static/core/styles.css
Due: none

Improved help text
  templates/accounts/terminal_list.html
Due: djlint

Better system messages
  the_flip/apps/accounts/views.py
  the_flip/apps/maintenance/views.py
Due: mypy

System message links to problem report
  the_flip/apps/maintenance/views.py
Due: mypy

Add missing migrations for model Meta options
  the_flip/apps/catalog/migrations/0004_alter_location_options.py
  the_flip/apps/webhooks/migrations/0003_alter_webhooksettings_options.py
Due: none

Make message tests more robust with assertIn
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy

Add pre-push hook to run Django tests
  .pre-commit-config.yaml
Due: none

Terminal buttons use better color coding
  templates/accounts/terminal_form.html
Due: djlint

Dropdown menu item alignment
  the_flip/static/core/styles.css
Due: none

Removed unused CSS
  the_flip/static/core/styles.css
Due: none

Getting rid of IDE warning
  the_flip/static/core/styles.css
Due: none

UX of machine list
  templates/catalog/partials/machine_list_card.html
  the_flip/static/core/styles.css
Due: djlint

Whitespace
  the_flip/static/core/styles.css
Due: none

Better hover colors
  the_flip/static/core/styles.css
Due: none

Spacing fix
  templates/catalog/partials/machine_list_card.html
  templates/maintenance/partials/log_entry.html
  templates/maintenance/partials/problem_report_entry.html
Due: djlint

Better breadcrumbs
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
Due: djlint

Added bug icon to sidebar
  templates/maintenance/problem_report_detail.html
Due: djlint

Updated login page to the new look and feel
  templates/registration/login.html
Due: djlint

Create AuditLog.md
  docs/plans/AuditLog.md
Due: none

Update AuditLog.md
  docs/plans/AuditLog.md
Due: none

Audit trail system
  requirements.txt
  templates/catalog/machine_edit.html
  templates/catalog/machine_feed_base.html
  templates/catalog/machine_model_edit.html
  templates/components/history_link.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/catalog/admin.py
  the_flip/apps/catalog/migrations/0005_historicalmachineinstance_historicalmachinemodel.py
  the_flip/apps/catalog/models.py
  the_flip/apps/catalog/signals.py
  the_flip/apps/catalog/views.py
  the_flip/apps/maintenance/admin.py
  the_flip/apps/maintenance/migrations/0007_historicallogentry_historicallogentrymedia_and_more.py
  the_flip/apps/maintenance/models.py
  the_flip/settings/base.py
  the_flip/static/core/styles.css
Due: mypy, djlint

Better list of machine instances on the model page
  templates/catalog/machine_model_edit.html
  the_flip/static/core/styles.css
Due: djlint

Added health check page
  the_flip/apps/core/health.py
  the_flip/apps/core/views.py
  the_flip/urls.py
Due: mypy

Admin debug page was 404'ing
  the_flip/urls.py
Due: mypy

Add health check
  railway.toml
Due: none

Railway still doesn't like health checks
  railway.toml
Due: none

Add PARTS_ENABLED feature flag with django-constance
  requirements.txt
  templates/base.html
  the_flip/apps/catalog/views.py
  the_flip/apps/parts/tests.py
  the_flip/settings/base.py
  the_flip/settings/prod.py
Due: mypy, djlint

Getting the UI towards being correct
  templates/parts/part_detail.html
  templates/parts/part_list.html
  templates/parts/part_update_form.html
  templates/parts/partials/part_list_entry.html
  templates/parts/partials/part_request_activity_entry.html
  templates/parts/partials/part_update_activity_entry.html
  templates/parts/partials/part_update_entry.html
  the_flip/apps/parts/views.py
Due: mypy, djlint

Still heading towards an acceptable UI
  .secrets.baseline
  templates/parts/part_list.html
  templates/parts/part_update_detail.html
  templates/parts/partials/part_list_entry.html
  templates/parts/partials/part_update_entry.html
  the_flip/apps/parts/tests.py
  the_flip/apps/parts/views.py
  the_flip/urls.py
Due: mypy, djlint

Update part_list_entry.html
  templates/parts/partials/part_list_entry.html
Due: djlint

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
