Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

Media handling
  templates/parts/part_detail.html
Due: djlint

Remove problem type selection from maintainer Create Problem Report page
  templates/maintenance/problem_report_form_base.html
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Consolidating media handling
  templates/core/partials/media_grid_editable.html
  templates/core/partials/media_grid_readonly.html
  the_flip/apps/core/admin_views.py
  the_flip/apps/core/mixins.py
  the_flip/apps/core/models.py
  the_flip/apps/core/tasks.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tasks.py
  the_flip/apps/maintenance/tests/test_tasks.py
  the_flip/apps/maintenance/utils.py
  the_flip/apps/maintenance/views.py
  the_flip/apps/parts/models.py
  the_flip/apps/parts/views.py
  the_flip/apps/webhooks/tests.py
  the_flip/settings/test.py
  the_flip/static/core/media_upload.js
Due: mypy, djlint

Fixing dropdown styling
  the_flip/static/core/machine_autocomplete.js
  the_flip/static/core/styles.css
Due: none

Better display of user and timestamp
  templates/parts/part_detail.html
Due: djlint

Consolidating timeline code
  requirements-dev.txt
  templates/maintenance/partials/global_log_entry.html
  templates/maintenance/partials/global_problem_report_entry.html
  templates/maintenance/partials/log_entry.html
  templates/maintenance/partials/problem_report_entry.html
  templates/parts/part_detail.html
  templates/parts/partials/part_list_entry.html
  templates/parts/partials/part_request_activity_entry.html
  templates/parts/partials/part_update_activity_entry.html
  templates/parts/partials/part_update_entry.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Added Request Part button to machine detail page
  templates/catalog/machine_feed_base.html
Due: djlint

sidebar cards
  templates/maintenance/log_entry_detail.html
  templates/parts/part_detail.html
  the_flip/static/core/styles.css
Due: djlint

badge icons
  templates/parts/part_detail.html
Due: djlint

Sidebar card work
  templates/parts/part_update_detail.html
Due: djlint

Consistent sidebar cards
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
Due: djlint

consolidated machine sidebar card
  templates/components/machine_sidebar_card.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_detail.html
  templates/parts/part_update_detail.html
Due: djlint

Problem reports support media
  templates/maintenance/partials/problem_report_entry.html
  templates/maintenance/problem_report_detail.html
  templates/maintenance/problem_report_form_base.html
  templates/maintenance/problem_report_new.html
  the_flip/apps/maintenance/admin.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/migrations/0008_add_problem_report_media.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Update CLAUDE.md
  CLAUDE.md
Due: none

New pill component, refactored /problem-reports/
  CLAUDE.md
  templates/components/pill.html
  templates/maintenance/partials/global_problem_report_entry.html
  templates/maintenance/problem_report_list.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
Due: mypy, djlint

Refactored machine list page
  templates/catalog/machine_list_for_maintainers.html
  the_flip/apps/catalog/views.py
Due: mypy, djlint

Document standard page layout
  docs/HTML_CSS.md
Due: none

Refactored the terminal list
  templates/accounts/terminal_list.html
  templates/layouts/two_column.html
Due: djlint

Refactoring the shared terminal account edit page
  templates/accounts/terminal_form.html
Due: djlint

Refactor the shared terminal account edit page
  templates/accounts/terminal_form.html
  templates/accounts/terminal_list.html
  templates/catalog/machine_list_for_maintainers.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Refactored profile edit page
  templates/accounts/profile.html
Due: djlint

Refactored machine feed pages
  templates/maintenance/machine_log.html
  templates/maintenance/machine_problem_report_list.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/static/core/core.js
Due: mypy, djlint

Refactor requirements into service-specific files
  .claude/settings.json
  .github/workflows/ci.yml
  build.sh
  requirements.base.txt
  requirements.dev.txt
  requirements.txt
  requirements.web.txt
  requirements.worker.txt
Due: none

Update docs for service-specific requirements and builds
  docs/Deployment.md
  docs/Project_Structure.md
Due: none

Add Flipfix branding to docs and Discord messages
  CLAUDE.md
  README.md
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/webhooks/formatters.py
Due: mypy

Improve Discord message parsing reliability
  the_flip/apps/catalog/models.py
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/parsers.py
  the_flip/apps/discord/tests.py
Due: mypy

Consolidate webhook settings to Constance and add image attachment handling
  requirements.txt
  the_flip/apps/discord/admin.py
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/migrations/0002_remove_webhooksettings.py
  the_flip/apps/discord/models.py
  the_flip/apps/discord/tasks.py
  the_flip/apps/discord/tests.py
  the_flip/settings/base.py
Due: mypy

Add transaction safety and periodic channel refresh
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/management/commands/discord_channels.py
Due: mypy

Improve Discord message parsing reliability
  the_flip/apps/discord/bot.py
Due: mypy

Refactor _get_object to use registry pattern
  the_flip/apps/discord/tasks.py
Due: mypy

Default wsgi/asgi to settings.web for safer deployments
  the_flip/asgi.py
  the_flip/wsgi.py
Due: mypy

Update README for new requirements file structure
  README.md
Due: none

Fix for gunicorn not found
  railpack.web.json
Due: none

Using Railway's Railpack deploy config
  build.web.sh
  build.worker.sh
  nixpacks.toml
  railpack.web.json
  railpack.worker.json
  railway.toml
  requirements.dev.txt
  requirements.txt
  requirements.web.txt
  requirements.worker.txt
Due: none

Move collectstatic to deploy
  railpack.web.json
Due: none

Migrate from Nixpacks to Railpack
  .claude/settings.json
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .secrets.baseline
  README.md
  build.sh
  docs/Deployment.md
  docs/Django_Python.md
  docs/Project_Structure.md
  docs/plans/videos.md
  nixpacks.toml
  pyproject.toml
  railpack.web.json
  railpack.worker.json
  railway.toml
  requirements.dev.txt
  requirements.txt
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/asgi.py
  the_flip/settings/base.py
  the_flip/settings/prod_base.py
  the_flip/settings/web.py
  the_flip/settings/worker.py
  the_flip/wsgi.py
Due: mypy

Update asgi.py
  the_flip/asgi.py
Due: mypy

Create build.sh
  build.sh
Due: none

Update README.md with new URL.
  README.md
Due: none

Add CSRF_TRUSTED_ORIGINS and update docs for dual URLs
  docs/Deployment.md
  docs/Operations.md
  the_flip/settings/prod_base.py
Due: mypy
