Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

fix: handle non-numeric media_id and normalize wiki JSON responses
  the_flip/apps/core/mixins.py
  the_flip/apps/maintenance/tests/test_log_entry_media.py
  the_flip/apps/wiki/tests/test_wiki_reorder.py
  the_flip/apps/wiki/views.py
  the_flip/static/core/wiki_reorder.js
Due: mypy

refactor(core): move __str__ and get_admin_history_url to AbstractMedia
  the_flip/apps/core/models.py
  the_flip/apps/core/tests/test_media.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/parts/models.py
Due: mypy

docs: clarify app dependency rules and audit model-layer imports
  docs/Architecture.md
Due: none

refactor(wiki): derive _VALID_PRIORITIES from Priority enum
  the_flip/apps/wiki/actions.py
Due: mypy

fix(wiki): display tag names with spaces instead of hyphens in sidebar nav
  templates/wiki/partials/nav_folder.html
  templates/wiki/partials/nav_tree.html
  templates/wiki/partials/reorder_folder.html
  the_flip/apps/wiki/templatetags/wiki_tags.py
  the_flip/apps/wiki/tests/test_wiki_nav.py
Due: mypy, djlint

fix: update GitHub repo references after org transfer
  AGENTS.md
  CLAUDE.md
  README.md
  docs/AGENTS.src.md
  docs/plans/AuditLog.md
  templates/home.html
Due: djlint

fix(discord): render [[type:ref]] links as clickable URLs in Discord messages
  docs/MarkdownLinks.md
  the_flip/apps/core/markdown_links.py
  the_flip/apps/core/tests/test_link_rendering.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/webhook_handlers/log_entry.py
  the_flip/apps/discord/webhook_handlers/part_request.py
  the_flip/apps/discord/webhook_handlers/part_request_update.py
  the_flip/apps/discord/webhook_handlers/problem_report.py
Due: mypy

refactor: extract apply_and_validate_timezone helper for view timezone boilerplate
  the_flip/apps/core/datetime.py
  the_flip/apps/core/tests/test_datetime.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/views/part_request_updates.py
  the_flip/apps/parts/views/part_requests.py
Due: mypy

refactor: extract clean_machine_slug helper into catalog/validators.py
  the_flip/apps/catalog/tests/test_machine_selection.py
  the_flip/apps/catalog/validators.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/parts/forms.py
Due: mypy

refactor: extract resolve_selected_machine helper into catalog/view_helpers.py
  the_flip/apps/catalog/tests/test_machine_selection.py
  the_flip/apps/catalog/view_helpers.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/views/part_requests.py
Due: mypy

refactor: move success message from signal to view, remove _request smuggling
  the_flip/apps/catalog/apps.py
  the_flip/apps/catalog/signals.py
  the_flip/apps/catalog/views.py
Due: mypy

refactor: replace pre-save change detection with django-model-utils FieldTracker
  requirements.txt
  the_flip/apps/catalog/models.py
  the_flip/apps/maintenance/signals.py
Due: mypy

refactor: decompose MachineLogCreateView.form_valid() into named helpers
  the_flip/apps/maintenance/views/log_entries.py
Due: mypy

refactor(catalog,accounts): use SuccessMessageMixin for simple success messages
  the_flip/apps/accounts/views.py
  the_flip/apps/catalog/views.py
Due: mypy

docs: fix obsolete signal pattern in MarkdownLinks.md and update doc index
  docs/MarkdownLinks.md
  docs/README.md
Due: none

refactor(core): extract nav header into inclusion tags with shared data
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/TemplateTags.md
  templates/components/nav/desktop.html
  templates/components/nav/mobile_hamburger.html
  templates/components/nav/mobile_priority_bar.html
  templates/components/nav/user_dropdown.html
  templates/core/partials/nav_header.html
  the_flip/apps/core/templatetags/nav_tags.py
  the_flip/apps/core/tests/test_nav_tags.py
Due: mypy, djlint

docs: document namespace constraint on admin item active tracking
  the_flip/apps/core/templatetags/nav_tags.py
Due: mypy

refactor: remove unused code across Python, CSS, and docs
  docs/Forms.md
  docs/plans/Files.md
  the_flip/apps/catalog/models.py
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tests/test_formatters.py
  the_flip/apps/discord/webhook_handlers/__init__.py
  the_flip/apps/maintenance/tasks.py
  the_flip/apps/parts/models.py
  the_flip/apps/parts/tests/test_part_request_models.py
  the_flip/static/core/styles.css
Due: mypy

refactor: consolidate media type configuration into single source of truth
  .secrets.baseline
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/TemplateTags.md
  flipfix/apps/core/forms.py
  flipfix/apps/core/image_processing.py
  flipfix/apps/core/media.py
  flipfix/apps/core/media_upload.py
  flipfix/apps/core/mixins.py
  flipfix/apps/core/templatetags/form_tags.py
  flipfix/apps/core/templatetags/ui_tags.py
  flipfix/apps/core/tests/test_image_processing.py
  flipfix/apps/core/tests/test_media.py
  flipfix/apps/core/transcoding.py
  flipfix/apps/maintenance/forms.py
  flipfix/apps/maintenance/tests/test_log_entry_media.py
  flipfix/apps/maintenance/tests/test_problem_report_media.py
  flipfix/apps/maintenance/tests/test_tasks.py
  flipfix/apps/maintenance/views/log_entries.py
  flipfix/apps/maintenance/views/problem_reports.py
  flipfix/apps/parts/forms.py
  flipfix/apps/parts/tests/test_part_request_media.py
  flipfix/apps/parts/tests/test_part_request_update_media.py
  flipfix/apps/parts/views/part_request_updates.py
  flipfix/apps/parts/views/part_requests.py
  pyproject.toml
  templates/components/media_file_input.html
  templates/core/partials/media_card_editable.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_new.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
Due: mypy, djlint

feat: add AVIF image upload support
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  flipfix/apps/core/image_processing.py
  flipfix/apps/core/media.py
  flipfix/apps/core/tests/test_image_processing.py
  flipfix/apps/core/tests/test_media.py
  flipfix/apps/maintenance/management/commands/check_image_support.py
  templates/maintenance/log_entry_new.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
Due: mypy, djlint

chore: make Makefile and deps portable for Claude Code web
  .claude/settings.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CLAUDE.md
  Makefile
  README.md
  build.sh
  docs/AGENTS.src.md
  requirements.native.txt
  requirements.txt
Due: none

chore: add bootstrap script for one-command dev setup
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  docs/AGENTS.src.md
  scripts/bootstrap.sh
Due: none

fix: quote SECRET_KEY and minor bootstrap hardening
  scripts/bootstrap.sh
Due: none

chore: add OpenAI Codex cloud bootstrap and agent docs
  AGENTS.md
  docs/AGENTS.src.md
  scripts/bootstrap_codex.sh
Due: none

feat(showcase): add public read-only showcase at /visit/
  flipfix/apps/catalog/views.py
  flipfix/apps/core/markdown.py
  flipfix/apps/maintenance/views/log_entries.py
  flipfix/apps/maintenance/views/problem_reports.py
  flipfix/apps/showcase/__init__.py
  flipfix/apps/showcase/apps.py
  flipfix/apps/showcase/templatetags/__init__.py
  flipfix/apps/showcase/templatetags/showcase_tags.py
  flipfix/apps/showcase/tests/__init__.py
  flipfix/apps/showcase/tests/test_views.py
  flipfix/apps/showcase/urls.py
  flipfix/apps/showcase/views/__init__.py
  flipfix/apps/showcase/views/logs.py
  flipfix/apps/showcase/views/machines.py
  flipfix/apps/showcase/views/problems.py
  flipfix/settings/base.py
  flipfix/static/core/styles.css
  flipfix/urls.py
  templates/base_showcase.html
  templates/layouts/two_column.html
  templates/showcase/components/nav.html
  templates/showcase/log.html
  templates/showcase/logs.html
  templates/showcase/machine.html
  templates/showcase/machines.html
  templates/showcase/partials/description_card.html
  templates/showcase/partials/feed_card.html
  templates/showcase/partials/log_global_card.html
  templates/showcase/partials/log_machine_card.html
  templates/showcase/partials/log_problem_card.html
  templates/showcase/partials/machine_card.html
  templates/showcase/partials/media_card.html
  templates/showcase/partials/problem_card.html
  templates/showcase/partials/problem_column_card.html
  templates/showcase/problem.html
  templates/showcase/problems.html
Due: mypy, djlint

fix: address CodeRabbit review on guest-access PR
  flipfix/apps/parts/views/part_request_updates.py
  flipfix/middleware.py
  templates/catalog/machine_detail_public.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
Due: mypy, djlint

fix: address CodeRabbit nitpicks on guest-access PR
  flipfix/apps/core/tests/test_nav_tags.py
  flipfix/apps/maintenance/templatetags/maintenance_tags.py
  flipfix/apps/parts/tests/test_parts_tags.py
Due: mypy

feat(core): make front page content editable via markdown
  .secrets.baseline
  docs/Datamodel.md
  docs/TemplateTags.md
  flipfix/apps/core/forms.py
  flipfix/apps/core/migrations/0002_sitesettings.py
  flipfix/apps/core/migrations/0003_populate_site_settings.py
  flipfix/apps/core/models.py
  flipfix/apps/core/templatetags/nav_tags.py
  flipfix/apps/core/tests/test_nav_tags.py
  flipfix/apps/core/tests/test_site_settings.py
  flipfix/apps/core/views/home.py
  flipfix/urls.py
  templates/core/site_settings_form.html
  templates/home.html
Due: mypy, djlint

feat(maintenance): make wall display board publicly accessible
  flipfix/apps/maintenance/tests/test_wall_display.py
  flipfix/urls.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
