Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

First attempt at de-Tailwinding
  docs/mocks/mock2-tailwind.css
  docs/mocks/mock2.html
  docs/mocks/mock_log_work1.html
Due: djlint

Update mock_log_work1.html
  docs/mocks/mock_log_work1.html
Due: djlint

Update mock_log_work2.html
  docs/mocks/mock_log_work2.html
Due: djlint

Bullets
  docs/mocks/mock1/mock1.html
  docs/mocks/mock2/mock_log_work2.html
Due: djlint

Update mock_machine_detail2.html
  docs/mocks/mock2/mock_machine_detail2.html
Due: djlint

Update mock_log_work2.html
  docs/mocks/mock2/mock_log_work2.html
Due: djlint

Admin
  docs/mocks/mock2/mock_log_work2.html
  docs/mocks/mock2/mock_machine_detail2.html
Due: djlint

CSS comments
  docs/mocks/mock2/mock_log_work2.html
  docs/mocks/mock2/mock_machine_detail2.html
Due: djlint

rename
  docs/mocks/mock2/no_tailwind/mock2_styles.css
  docs/mocks/mock2/no_tailwind/mock_log_work2_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock_machine_detail2_no_tailwind.html
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_desktop_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_desktop_default.png
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_mobile_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_mobile_default.png
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_tablet_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/diff_log_tablet_default.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_desktop_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_desktop_default.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_mobile_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_mobile_default.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_tablet_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/notailwind_log_tablet_default.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_desktop_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_desktop_default.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_mobile_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_mobile_default.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_tablet_dark3.png
  docs/mocks/mock2/no_tailwind/screenshots/tailwind_log_tablet_default.png
Due: djlint

Update mock2_machine_detail_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock2_machine_detail_no_tailwind.html
Due: djlint

Update mock2_styles.css
  docs/mocks/mock2/no_tailwind/mock2_styles.css
Due: none

moved theme switcher
  docs/mocks/mock2/no_tailwind/mock2_log_work_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock2_machine_detail_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock2_styles.css
  docs/mocks/mock2/no_tailwind/mock2_theme_switcher.css
Due: djlint

fixes
  docs/mocks/mock2/no_tailwind/mock2_log_work_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock2_machine_detail_no_tailwind.html
  docs/mocks/mock2/no_tailwind/mock2_styles.css
Due: djlint

updated guidance
  docs/HTML_CSS.md
Due: none

Detail page migrated
  templates/catalog/maintainer_machine_detail.html
  the_flip/apps/catalog/views.py
Due: mypy, djlint

Update machine_feed_base.html
  templates/catalog/machine_feed_base.html
Due: djlint

Global feed pages use new styles
  templates/maintenance/global_list_base.html
  templates/maintenance/log_list.html
  templates/maintenance/partials/global_log_entry.html
  templates/maintenance/partials/global_problem_report_entry.html
  templates/maintenance/problem_report_list.html
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
Due: mypy, djlint

Update base.html
  templates/base.html
Due: djlint

Migrated machine list
  templates/catalog/machine_list.html
  templates/catalog/maintainer_machine_detail.html
  templates/catalog/partials/machine_list_card.html
  the_flip/apps/catalog/views.py
  the_flip/static/core/machine_filter.js
  the_flip/static/core/styles.css
Due: mypy, djlint

Updated log edit and new to new style
  templates/maintenance/log_form_base.html
  templates/maintenance/machine_log_new.html
  the_flip/apps/maintenance/tests/test_log_entries.py
Due: mypy, djlint

Styled the create problem report
  templates/maintenance/problem_report_form_base.html
  templates/maintenance/problem_report_new.html
  the_flip/static/core/styles.css
Due: djlint

MIgrated to new style
  templates/accounts/profile.html
Due: djlint

Update profile.html
  templates/accounts/profile.html
Due: djlint

markdown
  templates/catalog/machine_list.html
  templates/maintenance/log_entry_detail.html
  templates/maintenance/log_form_base.html
  templates/maintenance/partials/problem_report_log_entry.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/views.py
  the_flip/static/core/styles.css
Due: mypy, djlint

photos
  templates/maintenance/partials/activity_entry.html
  templates/maintenance/partials/global_log_entry.html
  templates/maintenance/partials/log_entry.html
Due: djlint

Update activity_entry.html
  templates/maintenance/partials/activity_entry.html
Due: djlint

Set status via badge dropdown
  templates/catalog/machine_feed_base.html
  templates/catalog/maintainer_machine_detail.html
  the_flip/apps/catalog/views_inline.py
  the_flip/apps/maintenance/views.py
  the_flip/urls.py
Due: mypy, djlint

Text edits
  templates/home.html
Due: djlint

Setting location and status via dropdown badge
  templates/catalog/machine_edit.html
  the_flip/apps/catalog/forms.py
  the_flip/apps/catalog/views.py
Due: mypy, djlint

Renames
  templates/catalog/machine_detail_maintainer.html
  templates/catalog/machine_detail_public.html
  templates/catalog/machine_list_for_maintainers.html
  the_flip/apps/catalog/views.py
  the_flip/urls.py
Due: mypy, djlint
