Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.csv$|\.md$'
      - id: end-of-file-fixer
        exclude: '\.csv$|\.md$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '\.csv$'

  # Type checking - runs mypy from your venv with all dependencies
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^.*/migrations/.*\.py$
        require_serial: true

  # Django template linting and formatting
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: .venv/bin/djlint
        language: system
        types: [html]
        args: [--reformat, --quiet]

Add success messages when moving reports/entries between machines
  the_flip/apps/maintenance/views.py
Due: mypy

Fix error class styling in self_register.html
  templates/registration/self_register.html
Due: djlint

Refactor password_change_done.html to use two_column layout
  templates/registration/password_change_done.html
Due: djlint

Refactor part_form.html to use two_column layout
  templates/parts/part_form.html
Due: djlint

Refactor part_update_form.html to use two_column layout
  templates/parts/part_update_form.html
Due: djlint

Refactor machine_model_edit.html to use two_column layout
  templates/catalog/machine_model_edit.html
Due: djlint

Add form_field and form_fields template components
  CLAUDE.md
  templates/catalog/machine_edit.html
  templates/catalog/machine_model_edit.html
  templates/components/form_field.html
  templates/components/form_fields.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Add form_non_field_errors template component
  CLAUDE.md
  templates/accounts/profile.html
  templates/accounts/terminal_form.html
  templates/catalog/machine_edit.html
  templates/catalog/machine_model_edit.html
  templates/catalog/machine_quick_create.html
  templates/components/form_non_field_errors.html
  templates/maintenance/log_form_base.html
  templates/maintenance/problem_report_form_base.html
  templates/maintenance/problem_report_form_public.html
  templates/registration/invitation_register.html
  templates/registration/password_change_form.html
  templates/registration/self_register.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Refactor terminal_form.html to use {% form_fields %} component
  templates/accounts/terminal_form.html
Due: djlint

Code review fixes: error classes, docs, and tests
  docs/HTML_CSS.md
  templates/maintenance/log_form_base.html
  templates/maintenance/problem_report_form_base.html
  templates/maintenance/problem_report_form_public.html
  templates/maintenance/problem_report_new.html
  the_flip/apps/core/tests.py
Due: mypy, djlint

Add field_errors template component and refactor templates
  CLAUDE.md
  templates/catalog/machine_quick_create.html
  templates/components/field_errors.html
  templates/maintenance/log_form_base.html
  templates/maintenance/problem_report_form_base.html
  templates/maintenance/problem_report_form_public.html
  templates/maintenance/problem_report_new.html
  templates/registration/invitation_register.html
  templates/registration/password_change_form.html
  templates/registration/self_register.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Add field_help_text template component for consistent help text styling
  CLAUDE.md
  templates/catalog/machine_quick_create.html
  templates/components/field_help_text.html
  templates/components/form_field.html
  templates/registration/invitation_register.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Update invitation register intro text and add spacing
  templates/registration/invitation_register.html
Due: djlint

Replace password confirm with show/hide toggle on registration
  .secrets.baseline
  templates/registration/invitation_register.html
  the_flip/apps/accounts/forms.py
  the_flip/apps/accounts/tests/test_registration.py
Due: mypy, djlint

Use generated test password to avoid secret scanner triggers
  .secrets.baseline
  the_flip/apps/accounts/tests/test_registration.py
Due: mypy

Update self_register.html to use form labels and consistent password UX
  templates/registration/self_register.html
Due: djlint

Move sidebar sticky card wrapper to two_column layout
  CLAUDE.md
  templates/accounts/profile.html
  templates/accounts/terminal_form.html
  templates/accounts/terminal_list.html
  templates/catalog/machine_edit.html
  templates/catalog/machine_list_for_maintainers.html
  templates/catalog/machine_model_edit.html
  templates/catalog/machine_quick_create.html
  templates/layouts/two_column.html
  templates/maintenance/global_list_base.html
  templates/parts/part_form.html
  templates/parts/part_update_form.html
  templates/registration/password_change_done.html
  templates/registration/password_change_form.html
  the_flip/apps/core/templatetags/core_extras.py
Due: mypy, djlint

Refactor self_register.html to use two_column layout
  templates/registration/self_register.html
Due: djlint

Refactor part_update_detail.html to use two_column layout
  templates/parts/part_update_detail.html
Due: djlint

Refactor detail pages to use two_column layout
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_detail.html
  the_flip/apps/maintenance/views.py
Due: mypy, djlint

Merge log_form_base.html into machine_log_new.html
  templates/maintenance/log_form_base.html
  templates/maintenance/machine_log_new.html
Due: djlint

Standardize template naming conventions
  templates/maintenance/log_entry_list.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/partials/log_list_entry.html
  templates/parts/part_request_detail.html
  templates/parts/part_request_list.html
  templates/parts/part_request_new.html
  templates/parts/part_update_new.html
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/views.py
  the_flip/apps/parts/tests.py
  the_flip/apps/parts/views.py
Due: mypy, djlint

Hide empty sidebar on global problem report form
  templates/maintenance/problem_report_form_base.html
Due: djlint

Prevent clearing maintainer field on log entry detail page
  templates/maintenance/log_entry_detail.html
Due: djlint

Unified Who handling
  templates/components/maintainer_autocomplete_field.html
  templates/maintenance/log_entry_new.html
  templates/maintenance/problem_report_form_base.html
  templates/parts/part_request_detail.html
  templates/parts/part_request_new.html
  templates/parts/part_update_detail.html
  templates/parts/part_update_new.html
  templates/parts/partials/part_list_entry.html
  templates/parts/partials/part_request_activity_entry.html
  templates/parts/partials/part_update_activity_entry.html
  templates/parts/partials/part_update_entry.html
  the_flip/apps/catalog/tests.py
  the_flip/apps/catalog/views.py
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests/test_log_entries.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
  the_flip/apps/maintenance/views.py
  the_flip/apps/parts/forms.py
  the_flip/apps/parts/migrations/0003_add_name_fields_to_parts.py
  the_flip/apps/parts/models.py
  the_flip/apps/parts/tests.py
  the_flip/apps/parts/views.py
  the_flip/static/core/maintainer_autocomplete.js
Due: mypy, djlint

Fix client IP detection behind Railway proxy
  requirements.txt
  the_flip/apps/core/ip.py
  the_flip/apps/maintenance/views.py
  the_flip/middleware.py
Due: mypy

Show "Anonymous" for problem reports without reporter info
  templates/components/problem_report_sidebar_card.html
  templates/maintenance/problem_report_detail.html
  the_flip/apps/discord/formatters.py
  the_flip/apps/maintenance/models.py
  the_flip/apps/maintenance/tests/test_problem_reports.py
Due: mypy, djlint

Make problem report clickable on global log list
  templates/maintenance/partials/global_log_entry.html
Due: djlint

Fix N+1 query when rendering maintainer names on log entries
  the_flip/apps/maintenance/views.py
Due: mypy

Remove redundant N+1 loop in machine activity feed
  the_flip/apps/catalog/views.py
Due: mypy

Bump minor/patch dependency versions
  requirements.txt
Due: none

Added Discord setup docs
  docs/Discord.md
  docs/README.md
Due: none

Improve parts request Discord webhook titles
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tests/test_formatters.py
Due: mypy

Enable unbuffered Python output for worker and bot services
  railpack.bot.json
  railpack.worker.json
Due: none

Fix log entry webhook race condition with media attachments
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/signals.py
  the_flip/apps/discord/tasks.py
  the_flip/apps/discord/tests/test_signals.py
Due: mypy

Move SITE_URL to base.py and read from environment
  the_flip/settings/base.py
  the_flip/settings/dev.py
  the_flip/settings/prod_base.py
Due: mypy

Use thumbnail_file for Discord webhook images
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tests/test_formatters.py
Due: mypy

Rename FlipfixBot class to DiscordBot
  the_flip/apps/discord/bot.py
Due: mypy

Add photo thumbnails to all Discord webhooks
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tests/test_formatters.py
Due: mypy

Add code review agents and pre-PR check workflow
  .claude/agents/antipattern-scanner.md
  .claude/agents/clean-code-reviewer.md
  .claude/agents/code-smell-detector.md
  .claude/commands/pre-pr-check.md
  CLAUDE.md
Due: none
