Repository deanmoses/the_flip: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, djlint

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

djlint:
  name: djlint
  entry: .venv/bin/djlint
  language: system
  args:
  - --reformat
  - --quiet

Improved icon documentation
  docs/HTML_CSS.md
Due: none

Added the manufacturer_year filter to the docs
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
Due: none

Updated perf section
  docs/HTML_CSS.md
Due: none

Add migration for short_name help_text change
  the_flip/apps/catalog/migrations/0015_alter_historicalmachineinstance_short_name_and_more.py
Due: none

Upgrade to psycopg3 and bump audioop-lts
  requirements.txt
Due: none

Add failing tests for preventing webhook loop on Discord-originated records
  the_flip/apps/discord/tests/test_models.py
  the_flip/apps/discord/tests/test_signals.py
Due: mypy

Remove obsolete Makefile targets and scripts
  .github/copilot-instructions.md
  .vscode/tasks.json
  AGENTS.md
  CLAUDE.md
  Makefile
  docs/AGENTS.src.md
  docs/Testing.md
  scripts/reset_migrations.sh
Due: none

Migrate core and catalog tests to tests/ packages
  the_flip/apps/catalog/tests/__init__.py
  the_flip/apps/catalog/tests/test_catalog.py
  the_flip/apps/core/tests/__init__.py
  the_flip/apps/core/tests/test_core.py
Due: mypy

Document unified tests/ package pattern
  docs/Testing.md
Due: none

Split core tests into feature-based files
  docs/Testing.md
  the_flip/apps/core/tests/test_core.py
  the_flip/apps/core/tests/test_forms.py
  the_flip/apps/core/tests/test_icon.py
  the_flip/apps/core/tests/test_markdown.py
  the_flip/apps/core/tests/test_media_serving.py
  the_flip/apps/core/tests/test_template_filters.py
Due: mypy

Add system_prompt param and unit tests for LLM parsing
  the_flip/apps/discord/llm.py
  the_flip/apps/discord/tests/test_llm_parsing.py
Due: mypy

Add LLM prompt evaluation infrastructure and upgrade to Opus 4.5
  Makefile
  the_flip/apps/discord/llm.py
  the_flip/apps/discord/llm_eval_fixtures.py
  the_flip/apps/discord/management/commands/eval_llm_prompt.py
Due: mypy

Simplify eval_llm_prompt command
  the_flip/apps/discord/management/commands/eval_llm_prompt.py
Due: mypy

Show parent record link in Discord wizard footer
  the_flip/apps/discord/bot.py
Due: mypy

Add author attribution with flipfix/ prefix for webhook messages
  the_flip/apps/discord/bot.py
  the_flip/apps/discord/context.py
  the_flip/apps/discord/llm.py
  the_flip/apps/discord/llm_eval_fixtures.py
  the_flip/apps/discord/llm_eval_types.py
  the_flip/apps/discord/records.py
  the_flip/apps/discord/tests/test_records.py
Due: mypy

Shortened test comment
  the_flip/apps/discord/llm_eval_fixtures.py
Due: mypy

Add debug logging for LLM prompt and response
  the_flip/apps/discord/llm.py
Due: mypy

Recognize Flipfix URLs by path pattern instead of domain
  the_flip/apps/discord/context.py
  the_flip/apps/discord/parsers/__init__.py
  the_flip/apps/discord/parsers/references.py
  the_flip/apps/discord/parsers/types.py
  the_flip/apps/discord/tests/test_context.py
  the_flip/settings/base.py
Due: mypy

Allow log entries to inherit machine from parent problem report
  the_flip/apps/discord/llm.py
  the_flip/apps/discord/records.py
  the_flip/apps/discord/tests/test_llm_parsing.py
  the_flip/apps/discord/tests/test_records.py
Due: mypy

Fix thread context to fetch messages before clicked message
  the_flip/apps/discord/context.py
Due: mypy

Consolidate media configuration into core/media.py
  .secrets.baseline
  the_flip/apps/core/forms.py
  the_flip/apps/core/media.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/forms.py
Due: mypy

Consolidate make format into make lint
  AGENTS.md
  CLAUDE.md
  Makefile
  docs/AGENTS.src.md
Due: none

Fix duplicate 'View' links in completion embed
  the_flip/apps/discord/bot.py
Due: mypy

Improve Discord media client code quality
  the_flip/apps/discord/media.py
  the_flip/apps/discord/tests/test_media.py
Due: mypy

Suppress log noise during tests
  the_flip/apps/core/tests/test_media_serving.py
  the_flip/settings/test.py
Due: mypy

Address code review feedback for timestamp editing
  templates/maintenance/log_entry_edit.html
  templates/maintenance/problem_report_edit.html
  templates/parts/part_request_edit.html
  templates/parts/part_update_edit.html
  the_flip/apps/core/attribution.py
  the_flip/apps/core/datetime.py
  the_flip/apps/maintenance/forms.py
  the_flip/apps/maintenance/tests/test_forms.py
  the_flip/apps/maintenance/tests/test_log_entry_create.py
  the_flip/apps/maintenance/tests/test_log_entry_edit.py
  the_flip/apps/maintenance/tests/test_log_entry_media.py
  the_flip/apps/maintenance/tests/test_problem_report_create.py
  the_flip/apps/maintenance/tests/test_problem_report_edit.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/forms.py
  the_flip/apps/parts/migrations/0008_add_occurred_at_indexes.py
  the_flip/apps/parts/tests/test_forms.py
  the_flip/apps/parts/tests/test_part_request_create.py
  the_flip/apps/parts/tests/test_part_request_edit.py
  the_flip/apps/parts/tests/test_part_request_update_create.py
  the_flip/apps/parts/views.py
  the_flip/static/core/log_entry_detail.js
Due: mypy, djlint

Consistent maintainer validation across all Create/Edit views
  templates/parts/part_update_new.html
  the_flip/apps/maintenance/tests/test_log_entry_create.py
  the_flip/apps/maintenance/tests/test_log_entry_edit.py
  the_flip/apps/maintenance/tests/test_problem_report_create.py
  the_flip/apps/maintenance/tests/test_problem_report_edit.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/apps/maintenance/views/problem_reports.py
  the_flip/apps/parts/forms.py
  the_flip/apps/parts/tests/test_part_request_update_create.py
  the_flip/apps/parts/views.py
Due: mypy, djlint

Fix dropdown and validation UX issues
  templates/components/maintainer_chip_input_field.html
  templates/maintenance/log_entry_edit.html
  templates/maintenance/log_entry_new.html
  the_flip/apps/core/templatetags/core_extras.py
  the_flip/apps/maintenance/views/log_entries.py
  the_flip/static/core/maintainer_autocomplete.js
  the_flip/static/core/maintainer_chip_input.js
Due: mypy, djlint

Improve mobile UX: short machine names and accessible edit buttons
  templates/maintenance/log_entry_detail.html
  templates/maintenance/problem_report_detail.html
  templates/parts/part_request_detail.html
  templates/parts/part_update_detail.html
Due: djlint

Add HistoricalRecords to PartRequest and PartRequestUpdate
  templates/parts/part_request_detail.html
  templates/parts/part_update_detail.html
  the_flip/apps/parts/admin.py
  the_flip/apps/parts/migrations/0009_historicalpartrequest_historicalpartrequestupdate.py
  the_flip/apps/parts/models.py
  the_flip/apps/parts/tests/test_part_request_models.py
Due: mypy, djlint

Small UI tweaks to Discord message formats
  the_flip/apps/discord/formatters.py
  the_flip/apps/discord/tests/test_formatters.py
Due: mypy

Remove 1000 char limit from log entry creation
  the_flip/apps/maintenance/forms.py
Due: mypy

Hide nav links for users without maintainer permission
  templates/base.html
  the_flip/apps/accounts/tests/test_navigation.py
Due: mypy, djlint

Hide registration card for logged-in users on home page
  templates/home.html
Due: djlint

Add global activity feed as maintainer home page
  templates/core/global_activity_feed.html
  templates/core/partials/global_activity_entry.html
  templates/maintenance/partials/global_log_entry.html
  templates/maintenance/partials/global_problem_report_entry.html
  templates/parts/partials/part_list_entry.html
  templates/parts/partials/part_update_activity_entry.html
  the_flip/apps/core/feed.py
  the_flip/apps/core/tests/test_global_activity_feed.py
  the_flip/apps/core/views/feed.py
  the_flip/apps/core/views/health.py
  the_flip/apps/core/views/home.py
  the_flip/apps/core/views/transcode.py
  the_flip/apps/parts/models.py
  the_flip/settings/base.py
  the_flip/urls.py
Due: mypy, djlint

Add missing __init__.py to core/views directory
  the_flip/apps/core/views/__init__.py
Due: mypy

Add Request Parts button to global activity feed
  templates/core/global_activity_feed.html
Due: djlint

Fix infinite scroll test data to use fake names instead of real maintainers
  the_flip/apps/core/management/commands/create_sample_infinite_scrolling_data.py
Due: mypy

chore: add Claude Code skills for git workflow
  .claude/skills/branch/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/pr/SKILL.md
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^.*/migrations/.*\.py$
  djlint: any of: \.(html|htm|xhtml)$
